/* Header section */

.header {
    padding: 2rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo svg {
    width: 45px;
    height: 28px;
}

.navbar__list {
    display: none;
}

.navbar__link {
    color: inherit;
    text-decoration: none;
    transition: color 250ms ease-in;
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link:active {
    color: var(--vermillion);
}

.menu-btn-burger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    padding: 0;
    margin-left: auto;
    
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 5.56rem 0 3.44rem;
    }

    .navbar__logo svg {
        width: 65px;
        height: 40px;
    }

    .navbar__list {
        display: flex;
        gap: var(--spacing-250);
    }

    .menu-btn-burger {
        display: none;
    }
}