.backdrop {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    
    width: 100vw;
    height: 100vh;
    
    background-color: var(--dark-blue);

    opacity: 0;
    visibility: hidden;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
    position: fixed;
    z-index: 100;
    
    top: 0;
    right: 0;
    
    width: 60vw;
    height: 100vh;
    
    padding: 9rem var(--spacing-150);
    
    background-color: var(--white);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all; 
}

.menu.is-open + .backdrop {
    opacity: 0.5;
    visibility: visible;
}

.menu__close {
    position: absolute;
    top: -0.7px;
    right: 20.8px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    padding: 2rem 0;
    margin-left: auto;
    
    background-color: transparent;
    border: none;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.menu__link {
    padding: var(--spacing-50) 0;
    font-size: var(--font-size-nav-mobile);
    line-height: var(--line-height-nav-mobile);
    text-decoration: none;
    color: var(--dark-blue);
}

@media screen and (min-width: 1440px) {
    .menu,
    .backdrop {
        display: none;
    }
}