/* Popular section */

.popular__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.popular__item {
    counter-increment: list-item;
    display: flex;
    gap: 1.53rem;
}

.popular__img {
    width: 100px;
    height: 127px;
}

.popular__text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-56);
    max-width: 226px;
    padding-top: 2.75rem;
}

.popular__text::before {
    position: absolute;
    top: 0;
    content: "0" counter(list-item);
    font-size: var(--font-size-heading-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading-m);
    color: var(--vermillion);
}

.popular__heading {
    font-size: var(--font-size-heading-xs);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-heading-xs);
    color: var(--dark-blue);
    transition: color 250ms ease-in;
}

.popular__link:hover .popular__heading,
.popular__link:focus .popular__heading,
.popular__link:active .popular__heading {
    color: var(--vermillion);
}

.popular__link {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 1440px) {
    .popular {
        grid-area: popular;
    }

    .popular__list {
        flex-direction: row;
        gap: 1.87rem;
    }
}