/* Trending section */

.trending {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.trending__img {
    height: 300px;
}

.trending__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

@media screen and (min-width: 1440px) {
    .trending {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "image image"
        "heading info";
        gap: 1.75rem 1.88rem;
        grid-area: trending;
    }

    .trending__img {
        width: 730px;
        height: 300px;
        grid-area: image;
    }

    .trending__heading {
        grid-area: heading;
    }

    .trending__info {
        gap: 1.81rem;
        grid-area: info;
        align-self: self-end;
    }
}