/* Fonts */

@font-face {
    font-family: var(--font-family);
    src: url(../../assets/fonts/static/Inter-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: var(--font-family);
    src: url(../../assets/fonts/static/Inter-Bold.ttf) format('truetype');
    font-weight: var(--font-weight-bold);
}

@font-face {
    font-family: var(--font-family);
    src: url(../../assets/fonts/static/Inter-ExtraBold.ttf) format('truetype');
    font-weight: var(--font-weight-extrabold);
}